@page "/log"

<HeadContent>
  <link rel="stylesheet" href="@Assets["Rfmk.Reso.Http.LogViewer.styles.css"]"/>
</HeadContent>

<script type="module" src="@Assets["LogPage.razor.js"]"></script>

<h2>Resonite Logs</h2>

  <table class="logs" id="log-viewer">
    <colgroup>
      <col style="width: 100px;"/>
      <col/>
    </colgroup>
    <thead>
      <tr>
        <th>
          <div id="connection-status" class="status-indicator" title="Disconnected"></div>
        </th>
        <th>Message</th>
      </tr>
    </thead>

  </table>
